@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.is-hide {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.is-show {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


.top-glow{
  box-shadow: 0px -25px 20px #ffae194d;

}

.glow {
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
}

.glowsmall {
  text-shadow: 0px 0px 1px #ffffff;
}

.glowbox {
  box-shadow: 0px 0px 5px #ffae19;
}

.glowbx {
  box-shadow: 0px 0px 10px #fda500;
}

.gloworange {
  text-shadow: 0px 0px 4px #ffae19;
}


.glowWite {
  background-color: #ffae19;
}

.glowNormal{
  box-shadow: 0px 0px 50px rgb(255, 174, 25);
  background-color: rgba(255, 174, 25, 0.9);
}

.glowstart{
  box-shadow: 0px 0px 5px #ffae19;
}

.glowwhite{
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.margin{
  margin: 2;
}

input::placeholder {
  font-weight: bold;
  font-style: italic;
  opacity: 0.9;
  color: rgb(255, 255, 255);
  color: #00000093;

}

input:focus-visible {
  outline: 0px
  
}

